<!-- <mat-selection-list #shoes>
  <mat-list-option *ngFor="let shoe of typesOfShoes">
    {{shoe}}
  </mat-list-option>
</mat-selection-list>

<p>
  Options selected: {{shoes.selectedOptions.selected.length}}
</p>

<h3>{{typesOfShoes[shoes.selectedOptions.selected.length-1]}}</h3>
-->
<div [@twi]="1">
<div  class="jeongyeon" *ngIf="selection=='Jeongyeon'" [@tw]="true">
<app-jeongyeon></app-jeongyeon>
</div>

<div  class="nayeon" *ngIf="selection=='Nayeon'" [@twi]="1">
  <app-nayeon></app-nayeon>
</div>

<div  class="momo" *ngIf="selection=='Momo'" [@twi]="1">
  <app-momo></app-momo>
</div>

<div  class="mina" *ngIf="selection=='Mina'" [@twi]="1">
  <app-mina></app-mina>
</div>

<div  class="dahyun" *ngIf="selection=='Dahyun'" [@twi]="1">
  <app-dahyun></app-dahyun>
</div>

<div  class="jihyo" *ngIf="selection=='Jihyo'" [@twi]="1">
  <app-jihyo></app-jihyo>
</div>

<div  class="chaeyoung" *ngIf="selection=='Chaeyoung'" [@twi]="1">
  <app-chaeyoung></app-chaeyoung>
</div>

<div  class="tzuyu" *ngIf="selection=='Tzuyu'" [@twi]="1">
  <app-tzuyu></app-tzuyu>
</div>

<div  class="sana" *ngIf="selection=='Sana'" [@twi]="1">
  <app-sana></app-sana>
</div>

<div  class="all" *ngIf="selection=='Alla'" [@twi]="1">
  <app-all></app-all>
</div>
</div>
<div *ngIf="!check; else second" [@twi]="9">
<mat-list class="aa">
  <mat-list-item *ngFor="let member of twice1; let i = index" class="aaaa">
    <img matListAvatar [src]="url1+member+url4+url2"><div class="y">
    <button mat-raised-button color="primary" (click)="onselect(member)">{{member}}</button></div><!--<div class="x">{{i+1}}</div> -->
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
</div>
<ng-template #second>
<div [@twi]="9">
  <mat-list class="aa">
    <mat-list-item *ngFor="let member of twice2" class="aaaa">
      <img matListAvatar [src]="url1+member+url4+url2"><div class="y">
      <button mat-raised-button color="warn" (click)="onselect(member)">{{member}}</button></div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
</ng-template>
<span class="example-section">
  <mat-slide-toggle
    class="example-margin"
    color="primary"
    [(ngModel)]="check"
    [disabled]="disabled">
    <div *ngIf="!check; else third" class="first">What I think</div>
    <ng-template #third ><div class="third">Popular opinion</div></ng-template>
  </mat-slide-toggle>
</span>
<router-outlet></router-outlet>
